.about {
  width: 320px;
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  background: #fff;
}

.about__title {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000;
}

.about__list {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: normal;
  color: #000;
  list-style: none;
}
